<div class="container">
  <% @users.each do |user| %>
  <%= link_to user_path(user) do %>
    <div class="user-container">
      <div class="user-image"> <%= image_tag user.photo %> </div>
      <div class="user-info">
        <h2 class="user-name"> <%= user.name %> </h2>
        <span class="post-counter"> Post Counter: <%= user.posts_counter %> </span>
      </div>
    </div>
  <% end %>
  <% end %>
</div>